# Compiled Object files
obj/
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.def
*.lib

# Executables
bin/
*.exe
*.out
*.app

# Codeblocks
*.layout
*.depend

# CppCheck
CppCheckResults.xml

# Profile
gmon.out

# CCCCC
.cccc/